body {
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.header {
  background-color: #224D7A; 
  color: white; 
  padding: 10px 0; 
  text-align: center; 
}

#map { 
    height: 400px; 
    width: 100%;
}

.search-box {
    margin-bottom: 10px;
}

.search-box input[type="text"] {
    width: calc(100% - 80px); 
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.search-box button {
    padding: 8px;
    background-color: #224D7A; 
    color: white;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#concursos-info {
    margin-top: 20px;
    display: none; /* Informações inicialmente ocultas */
}

#concursos-list {
    list-style: none; 
    padding: 0;
}

#concursos-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
